#navBar{
    display: inline;

}

#userMessage {
	border: 1px solid black;
	display: block;
	width: 60%;
	height: 20%;
}
 
#messageArea {
	font-size: 17px;
	border-bottom: 1px solid black
	color: red;
	
	/*display: flex;*/
	/*float: left;*/
}

#message {
	font-size: 15px;
}

#dark {
	background-color: blue;
}

#big {
	font-size: 3em;
}